@font-face {
    font-family: 'familiar_probold';
    src: url('Familiar_Pro-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



:root {
	--y-scroll-offset: 100px;
}

html, body {
	margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}



h1 {
    font-family: familiar_probold;
    font-size: 4.5rem;
}

h2 {
	font-family: familiar_probold;
    font-size: 2.5rem;
	color: #E5E7EB
}

#app {
	
	box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.letter-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.letter-box {
    border: 4px black solid;
    padding: 10px;
    margin: 10px;
    width: 164px;
    height: 164px;
    display: grid;
	grid-template-columns: 1fr 60% 1fr 30%;
	grid-template-rows: 60% 40%;
	
}

.letter-box:hover {
	background: black;
	color: white;
}

.main-letter {
	grid-column: 2/3;
	grid-row: 2/3;
	justify-self: flex-start;
	align-self: center;
	cursor: pointer;
}


.info-letter {
	grid-column: 4/5;
	grid-row: 2/3;
	justify-self: center;
	align-self: flex-start;
	font-size: 1.5rem;
	cursor: pointer;
}

/* MODAL */

.modal-wrapper {
	background: #333;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 80%;
	z-index: 1000;
}
.modal-window {
    font-family: familiar_probold;
	background: white;
	width: 400px;
	z-index: 9999;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 30px;
	transform: translateY(var(--y-scroll-offset));
	
}
.modal-title {
	
	font-weight: bold;
	font-size: 2rem;
}
.modal-body {
	font-size: 1.8rem;
	margin: 30px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.button-wrapper {
	display: flex;
	justify-content: flex-end;
}

/* Colors */

.text-red {
	color: #EF4444;
	border: 2px solid black;
	padding: 0.4rem 1rem;
	margin-bottom: 10px;
	margin-right: 5px;
}

.text-green {
	color: #34D399;
	border: 2px solid black;
	padding: 0.4rem 1rem;
	margin-bottom: 10px;
	margin-right: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 80px;
    padding: 0 20px;
	justify-content: space-around;
}

